.folder {
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-height: 30px;
}
.folder-name{
    margin-left: 10px;
}
.expander {
    width: 20px;
    height: 20px;
}
.folder-label{
    display: flex;
    align-items: center;
}
.folder-children{
    padding-left: 45px;
}